<!DOCTYPE html>
<html>
  <head>
    <title>All the Things</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <%# favicon %>
    <%= favicon_link_tag asset_path('checklist-icon.ico') %>

    <%# images %>
    <script src="https://kit.fontawesome.com/7363cc9ae5.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.calvin_and_hobbsURL = "<%= image_url('calvin_and_hobbs.png') %>";
    </script>
    <script type="text/javascript">
      window.calvin_boxURL = "<%= image_url('calvin-box.png') %>";
    </script>
    <script type="text/javascript">
      window.calvin_logoURL = "<%= image_url('calvin-logo.png') %>";
    </script>
    <script type="text/javascript">
      window.notes_hobbs_iconURL = "<%= image_url('notes-hobbs-icon.png') %>";
    </script>
   

  </head>


  <body>
    <%= yield %>
  </body>
</html>
</html>
